.book-item{
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 6px;
}

.card{

}

.uppercase{
  text-transform: capitalize;
}

h2{
  text-align: center;
}
.input-group{
  margin:5px;
}
